'name': '.dockerignore'
'fileTypes': [
  '.dockerignore'
]
'patterns': [
  {
    'match': '\\*|\\?',
    'name': 'keyword.wildcard.gitignore'
  }
  {
    'match': '^!',
    'name': 'keyword.negated.gitignore'
  }
]
'scopeName': 'source.dockerignore'
